
@{
    ViewBag.Title = "Error";
}

    <h2>Error @ViewBag.ErrorType</h2>

    <div class="alert alert-warning">
        Your @ViewBag.ErrorType was unsuccessfull with Error : @ViewBag.ErrorMessage

    </div>
